.cursor {
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  z-index: 999;
}

.follower {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid white;
  position: absolute;
  z-index: 999;
  border-radius: 50%;
}
