.project {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px 50px 100px;
  border-top: 1px solid rgb(201, 201, 201);
  cursor: pointer;
  transition: all 0.2s;
}
.project:last-of-type {
  border-bottom: 1px solid white;
}

.project:hover {
  opacity: 0.5;
}

.project:hover h2 {
  transform: translateX(-10px);
}

.project:hover p {
  transform: translateX(10px);
}

.project h2 {
  transition: all 0.4s;
}

.project p {
  transition: all 0.4s;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .project p {
    display: none;
  }

  .project h2 {
    font-weight: 100;
    font-size: 2.25rem /* 36px */;
    line-height: 2.5rem /* 40px */;
  }

  .project:hover h2 {
    transform: translateX(10px);
  }

  .project {
    display: inline;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 25px 1rem 25px 1rem;
    width: 90%;
  }
}
